/* Reset some default browser styles */
html, body {
    margin: 0;
    padding: 0;
}

/* Navigation bar styles */
#nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 20px 0;
}

#nav-bar > a {
    color: #fff;
    font: 20px sans-serif;
}

#nav-bar > a:hover {
    color: #ccc;
    font: 22px sans-serif;
}

/* Main container styles */
#container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Main content styles */
#main-content {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
}

#subject-name-title {
    text-align: center;
}

/* Section content styles */
.section-content {
    list-style: disc;
    margin-left: 20px;
}

/* References content styles */
.references-content {
    list-style: none;
    margin-left: 0;
}

/* Footer styles */
#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Links styles */
/* Links styles */
a {
    color: #888;
    text-decoration: none;
    transition: color 0.3s, font-size 0.3s;
}

/* Effect for increasing font size slightly on hover */
a:hover {
    font-size: 1.05em;
    color: #777;
}

/* Effect for darkening the color of the selected link */
a:focus {
    color: #555;
}

/* Heading styles */
h1, h2, h3 {
    color: #333;
}

ul > li {
    margin-bottom: 5px;
}

/* Main container */
.main-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aside-containers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Left container */
#left-container {
    flex: 1;
    padding: 10px;
    border-right: 2px solid #333;
}

#left-container figure {
    text-align: center;
}

#left-container img {
    width: 150px;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 50%;
}

/* Right container */
#right-container {
    flex: 5;
    padding: 10px;
}

#right-container figure {
    text-align: center;
}

/* Courses list */
#right-container ul {
    list-style: none;
    padding: 10px;
}

#right-container li {
    margin-bottom: 5px;
}




                                                                                                                                                                                   Regenerate
